.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 400px;
}

.calendar .header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: var(--light-blue);
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: var(--black);
  font-family: var(--font-book);
  font-weight: 700;
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.calendar .body {
  border-left: 1px solid var(--light-blue);
  border-right: 1px solid var(--light-blue);
}

.calendar .footer {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--light-blue);
  font-family: var(--font-book);
  font-weight: 700;
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  display: flex;
}

.calendar .footer .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.calendar .footer .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

.calendar .week {
  background-color: white;
  width: calc(100% / 7);
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 400;
}
.calendar .week div {
  width: 100%;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.calendar .day div {
  width: 54px;
  height: 44px;
  position: relative;
  color: var(--black);
  z-index: 100;
  line-height: 44px;
}

.calendar .day div.before {
  color: var(--grey);
}

.calendar .day div.selected {
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
  border-radius: 0.5rem;
}

.calendar .day div.today {
  background-color: var(--grey);
  border-radius: 0.5rem;
}
